* {
    
    text-align: right;
    flex-direction: row-reverse;
}
html {scroll-behavior: smooth;}
body {

    background-color: azure;
    margin: 0;
    font-family: Alexandria;
}

@font-face {
    font-family: Alexandria;
    src: url(../fonts/Alexandria.ttf);
}
@font-face {
    font-family: AmiriBold;
    src: url(../fonts/Amiri-Bold.ttf);
}
@font-face {
    font-family: AmiriReg;
    src: url(../fonts/Amiri-Regular.ttf);
}



header {

    width: 100%;
    height: 550px;
    background-image: radial-gradient(at top right, #c2e0ff 0%, azure);

    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

header #metro {

    position: absolute;
    height: 75%;
    right: 50vw;
    align-self: flex-end;
}

header h1 {

    font-size: 100px;
    color: #69a4df;
    line-height: 100px;
    margin: -25px 100px 0 0;
    position: relative;
    z-index: 1;
    text-shadow:
        -2px 0    #2d6ba9,
        -2px -2px #2d6ba9,
        0    -2px #2d6ba9,
        2px  -2px #2d6ba9,
        2px  0    #2d6ba9,
        2px  2px  #2d6ba9,
        0    2px  #2d6ba9,
        -2px 2px  #2d6ba9;
}

#underlineSquare {

    width: 225px;
    height: 75px;
    background-color: #fff878;
    position: absolute;
    right: 25px;
    bottom: -20px;
    z-index: -1;
}



nav {

    width: 100%;
    height: 60px;
    position: relative;
    background-color: #76b1eb;
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    transition: 0.2s;
}
nav[history="true"] {background-color: #864e00;}

nav a {

    height: 100%;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    text-align: middle;
    color: azure;
    transition: 0.2s;
    text-decoration: none;
}

nav a:hover {

    transition: 0.05s;
    background-color: #4a98e7;
}
nav[history="true"] a:hover {

    transition: 0.05s;
    background-color: #472900;
}

nav img {

    width: 50px;
    margin: 0 -25px -10px -25px;
    align-self: flex-end;
}



#content {
    
    color: #2d6ba9;
    /* height: 200vh; */
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(azure, #c2e0ff);
}

.section {

    width: 100%;
    margin: 100px 0;
    display: flex;
    /* align-items: center; */
    box-sizing: border-box;
    padding: 100px 100px;
    
    opacity: 0;
    transform: translateY(250px);
    transition: 0.5s;
    /* background-color: tomato; */
}
.section .right h1 {

    margin: 0 0 50px 0;
    font-size: 60px;
    direction: rtl;
}
.section .right p {

    margin: 0;
    line-height: 34px;
    word-spacing: 3px;
    font-size: 20px;
    direction: rtl;
}

#historySection {

    overflow: hidden;
    padding: 0 150px;
    background-image: radial-gradient(#ffdcab, #f3c17b);
    background-color: #ffdcab;
    color: #482a00;
    position: relative;
    border-radius: 20px;
}
#historySection #paper {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    opacity: 0.75;
}
#historySection p {

    font-size: 30px;
    line-height: 50px;
    font-family: AmiriReg;
    margin: 20px 0 0 0;
}
#historySection h1 {font-family: AmiriBold;}

.right, .left {
    /* background-color: tomato; */
    width: 100%;
}
.right[center] {margin: 0 auto;}
.right[center] p, .right[center] h1 {text-align: center;}


#map {

    overflow: visible;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

#map svg {overflow: visible;}

#map img, #AlexMap {

    width: 125%;
    position: absolute;
    top: -10%;
    left: -55%;
    transform: rotateZ(15deg);
}

#AlexMap circle {

    fill: #2d6ba9;
    stroke: #2d6ba9;
    transition: 0.4s;
}
#AlexMap circle:hover {

    fill: transparent;
}

@keyframes pathDraw {100%{stroke-dashoffset: 0;}}
#AlexMap path {

    fill: none;
    stroke: #2d6ba9;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 137;
    stroke-dashoffset: 137;
    stroke-linecap: round;
}

#AlexMap polyline {

    fill: none;
    stroke: #2d6ba9;
    stroke-width: 1;
    stroke-miterlimit: 10;
    stroke-dasharray: 29;
    stroke-dashoffset: 29;
    stroke-linejoin: round;
    transition: 0.25s;
}

.city {
    transform: rotateZ(-15deg) translate(-1px);
    overflow: visible;
}
.city div {

    position: absolute;
    background-color: #ffffff;
    height: 0;
    padding: 0 5px;
    width: max-content;
    overflow: hidden;
    font-size: 7px;
    display: flex;
    align-items: center;
}
.city div p {margin: 0;}



footer {

    width: 100%;
    background-color: black;
    color: azure;
    display: flex;
    padding: 50px 100px;
    box-sizing: border-box;
}
footer a {

    text-decoration: none;
    color: azure;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}